#mainDiv{
    width: 100%;
    min-height: 350px;
    height:100%;
    backgroung:antiquewhite;
}
.row{
    width: 100%;
    height: aut0;
    min-height: 50px;
    
}
.left{
    width: 30%;
    height: auto;
    min-height: 100px;
    background: aqua;
    float: left;
}
.right{
    width: 70%;
    height: auto;
    min-height: 100px;
    background: white;
    float: left;
}